body
{
 background: #34495b;
 font-size: 100%;
}

a
{
  text-decoration: none;
}

ul
{
  margin: 16% 0 0% 0%;
}

ul li
{
  list-style: none;
}

ul li a
{
 text-decoration: none; 
}

ul li a p
{
  width: 60%;
  list-style-type: none;
  background: #008fd5;
  border-bottom: solid thin white;
  padding: .3em 1em .3em;
  text-decoration: none;
  color: white;
  font-size: 15px;
}


h1
{
  padding-bottom: 2em;
  border-bottom: none;
  font-size: 16px;
  margin: 0;
  padding: 5px 0 .3em;
  line-height: 19px;
  text-align: center;
  color: rgb(40, 34, 34);
}

h3
{
  text-transform: uppercase;
  font-size: 17px;
  line-height: 157px;
  border-bottom: 5px #eee solid;
  color: #FFF7F7;
  margin-bottom: 2.5em;
  padding-bottom: .5em;
}

header.sidebar
{
  background-color: #9EB5B0;
  width: 30%;
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  bottom: 0;
  top: 0;
}

section.sidebar_information
{
  color: white;
}

div.sidebar_userimage
{
  cursor: pointer;
  border-radius: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0% 35% 0;
  padding: 8% 0 0;
  text-align: center;

}

div.sidebar_userimage img
{

  border-radius: 25px;
  width: 101px;
  padding: 3px;
  border: 1px dashed white; 
}

div.comunidad-autoria
{
  border-bottom: dashed 2px white;
  background: rgb(80, 176, 53);
  border-top: dashed 2px white;
  padding: 2% 0;
  margin: 12% 0;
}

div.logo
{
  display: inline-block;
  width: 30%;
  text-align: center;
  padding: 3% 0 0;
}

div.logo img
{
  width: 45px;
  border-radius: 45px;
  padding: 0;
  margin: 0;
}

div.nombre
{
display: inline-block;
vertical-align: top;
padding: 0;
margin: 0% 33%;
font-size: 1.5em;
text-align: center;
}


 div.nombre p{
  color: rgb(255, 255, 255)

}

div.layout-principal
{
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0;  
  overflow-x: auto;
  width: 55%;
  padding: 0% 6.5%;
}

div.bloque
{
  margin: 5% 0 0;
}

div.bloque p
{
  color: rgb(80, 176, 53);
  line-height: 1.9em;
}
@media screen and (max-width:1000px){
  header.sidebar {
    width:100%;
  }
}
@media screen and (max-width:1000px){
  div.layout-principal {
    width:100%;
  }
}